.charts {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.charts > div {
  margin-top: 2rem;
}
.navigation {
  width: 30%;
}
.layout {
  display: flex;
  border-color: rebeccapurple;
}
